body{
	background-color: #696969;

	
}
h1{
	font-family: Impact;
	color: white;
}
canvas {
	background: black; 
	display: block; 
	margin: 0 auto; 
	}
.instructions{
	margin: auto;
	display: block;
	background-color:lightGrey;
	width: 40%;
}